<footer class="grid gap-2 place-items-center grid-cols-1 grid-rows-2 p-6">
  <p>
    Kauê Leal de Lima © 2025. <i>Alguns direitos reservados.</i>
  </p>
  <span class="flex gap-2">
    <a
      target="_blank"
      href="https://www.linkedin.com/in/kau%C3%AA-leal-de-lima-171a73247/"
      class="hover:bg-sky-700 hover:text-zinc-50 flex p-1 rounded-full"
    >
      <i class="ph ph-linkedin-logo"></i>
    </a>
    <a
      target="_blank"
      href="https://github.com/kauelima21"
      class="hover:bg-zinc-800 hover:text-zinc-50 flex p-1 rounded-full"
    >
      <i class="ph ph-github-logo"></i>
    </a>
  </span>
</footer>