<pre class="flex text-sm relative max-w-full max-h-80 rounded-md overflow-hidden">
  <span class="mb-0 grid overflow-auto flex-1 h-full">
    <code
      #codeBlock
      [attr.class]="'language-' + language()"
      [innerHtml]="highlightedCode"
    ></code>
  </span>

  <button
    type="button"
    (click)="copyToClipboard()"
    aria-label="Copiar código"
    class="flex absolute top-2 right-2 p-1.5 rounded text-zinc-50 bg-zinc-800/60 hover:bg-sky-500 transition-colors"
  >
    <i class="icon-copy"></i>
  </button>
</pre>
