<div class="flex flex-col gap-8 mx-auto max-w-7xl px-8 py-4">
  <header class="flex items-center justify-between">
    <strong class="flex items-center gap-1">
      <img src="/logo.svg" />
      <span class="text-zinc-900 font-semibold text-lg">DynoLayer</span>
    </strong>

    <nav>
      <ul class="flex gap-4">
        <li>
          <a
            class="cursor-pointer flex items-center gap-1.5 p-1.5 text-sky-500 text-base font-semibold hover:text-sky-500"
          >
            <i class="ph ph-book-open"></i>
            <span>Documentação</span>
          </a>
        </li>
        <li>
          <a
            href="https://github.com/kauelima21/dynolayer"
            target="_blank"
            class="flex items-center gap-1.5 p-1.5 text-zinc-600 text-base font-semibold hover:text-sky-500"
          >
            <i class="ph ph-github-logo"></i>
            <span>Código fonte</span>
          </a>
        </li>
      </ul>
    </nav>
  </header>

  <router-outlet />

  <app-footer />
</div>
